*{padding: 0; margin: 0;}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

strong {
    font-size: 30px;
    color: red;
}

#showArrayNumbers {
    font-size: 25px;
    color: darkcyan;
}

#showHigherNumber {
    font-size: 25px;
    color: red;
    font-weight: bold;
}
